* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.search_Entry {
  background-color: #bebfc0;
}

.filter {
  background-color: #626469;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}
